.navbar#notifications {
  border-bottom: 0.063rem solid var(--color-gray-80);
}

.navbar#notifications > div {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
