.image-input {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}