label * {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  color: var(--color-black);
}

label span {
  margin: 0 0 0.5rem 0;
  display: inline-block;
}

.textarea {
  width: 100%;
  min-height: 4rem;
  padding: 0.5rem;
  border: 0.063rem solid var(--color-gray);
  border-radius: 4px;
  background-color: var(--color-white);
  font-weight: var(--font-weight-regular);
  color: var(--color-black);
  resize: none;
  cursor: pointer;
}

.textarea::-webkit-scrollbar {
  width: 0.5rem;
}

.textarea::-webkit-scrollbar-track {
  background-color: var(--color-gray-10);
}

.textarea::-webkit-scrollbar-thumb {
  background-color: var(--color-black-40);
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
}

.textarea:focus {
  outline: none;
  border-color: var(--color-blue);
}

.error-description {
  position: relative;
  margin: 0.5rem 0;
  padding: 0.5rem 0.5rem 0.5rem 2.063rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-black);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-red-10);
  border: 0.063rem solid var(--color-red);
  border-radius: 0.25rem;
}

.error-description > div {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-description > div > svg > path {
  stroke: var(--color-red);
}
