.divider {
  width: 100%;
  height: 0.063rem;
}

/* Background Blue */

.divider.bg-blue {
  background-color: var(--color-blue);
}

/* Opacity */

.divider.bg-blue.opacity-80 {
  background-color: var(--color-blue-80);
}

.divider.bg-blue.opacity-40 {
  background-color: var(--color-blue-40);
}

.divider.bg-blue.opacity-20 {
  background-color: var(--color-blue-20);
}

.divider.bg-blue.opacity-10 {
  background-color: var(--color-blue-10);
}

/* Background Red*/

.divider.bg-red {
  background-color: var(--color-red);
}

/* Opacity */

.divider.bg-red.opacity-80 {
  background-color: var(--color-red-80);
}

.divider.bg-red.opacity-40 {
  background-color: var(--color-red-40);
}

.divider.bg-red.opacity-20 {
  background-color: var(--color-red-20);
}

.divider.bg-red.opacity-10 {
  background-color: var(--color-red-10);
}

/* Background Yellow */

.divider.bg-yellow {
  background-color: var(--color-yellow);
}

/* Opacity */

.divider.bg-yellow.opacity-80 {
  background-color: var(--color-yellow-80);
}

.divider.bg-yellow.opacity-40 {
  background-color: var(--color-yellow-40);
}

.divider.bg-yellow.opacity-20 {
  background-color: var(--color-yellow-20);
}

.divider.bg-yellow.opacity-10 {
  background-color: var(--color-yellow-10);
}

/* Background Green */

.divider.bg-green {
  background-color: var(--color-green);
}

/* Opacity */

.divider.bg-green.opacity-80 {
  background-color: var(--color-green-80);
}

.divider.bg-green.opacity-40 {
  background-color: var(--color-green-40);
}

.divider.bg-green.opacity-20 {
  background-color: var(--color-green-20);
}

.divider.bg-green.opacity-10 {
  background-color: var(--color-green-10);
}


/* Background  Purple*/

.divider.bg-purple {
  background-color: var(--color-purple);
}

/* Opacity */

.divider.bg-purple.opacity-80 {
  background-color: var(--color-purple-80);
}

.divider.bg-purple.opacity-40 {
  background-color: var(--color-purple-40);
}

.divider.bg-purple.opacity-20 {
  background-color: var(--color-purple-20);
}

.divider.bg-purple.opacity-10 {
  background-color: var(--color-purple-10);
}

/* Background Pink */

.divider.bg-pink {
  background-color: var(--color-pink);
}

/* Opacity */

.divider.bg-pink.opacity-80 {
  background-color: var(--color-pink-80);
}

.divider.bg-pink.opacity-40 {
  background-color: var(--color-pink-40);
}

.divider.bg-pink.opacity-20 {
  background-color: var(--color-pink-20);
}

.divider.bg-pink.opacity-10 {
  background-color: var(--color-pink-10);
}


/* Background Orange */

.divider.bg-orange {
  background-color: var(--color-orange);
}

/* Opacity */

.divider.bg-orange.opacity-80 {
  background-color: var(--color-orange-80);
}

.divider.bg-orange.opacity-40 {
  background-color: var(--color-orange-40);
}

.divider.bg-orange.opacity-20 {
  background-color: var(--color-orange-20);
}

.divider.bg-orange.opacity-10 {
  background-color: var(--color-orange-10);
}

/* Background White */

.divider.bg-white {
  background-color: var(--color-white);
}

/* Opacity */

.divider.bg-white.opacity-80 {
  background-color: var(--color-white-80);
}

.divider.bg-white.opacity-40 {
  background-color: var(--color-white-40);
}

.divider.bg-white.opacity-20 {
  background-color: var(--color-white-20);
}

.divider.bg-white.opacity-10 {
  background-color: var(--color-white-10);
}


/* Background Gray */

.divider.bg-gray {
  background-color: var(--color-gray);
}

/* Opacity */

.divider.bg-gray.opacity-80 {
  background-color: var(--color-gray-80);
}

.divider.bg-gray.opacity-40 {
  background-color: var(--color-gray-40);
}

.divider.bg-gray.opacity-20 {
  background-color: var(--color-gray-20);
}

.divider.bg-gray.opacity-10 {
  background-color: var(--color-gray-10);
}