.main {
  width: 100%;
}

.main > div {
  width: 100%;
  max-width: 90rem;
  padding: 0.5rem 5.5%;
  margin: 0 auto;
}

.main > div::-webkit-scrollbar {
  width: 0.5rem;
}

.main > div::-webkit-scrollbar-track {
  background-color: var(--color-gray-10);
}

.main > div::-webkit-scrollbar-thumb {
  background-color: var(--color-black-40);
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
}
