.main#setting > div{
    padding: 1rem 0;
    height: 100%;
}

.main#setting > div > .paragraph{
    margin: 1rem 0;
    font-size: var(--font-size-xs);
}

.main#setting > div > .divider {
    margin: 1.5rem 0;
}

.main#setting > div > div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}