.main#home {
  height: calc(100%);
}

.main#home > div {
  height: 100%;
  padding: 0 5.5%;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
}

@media screen and (min-width: 768px) {
  .main#home > div {
    grid-template-columns: 252px 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .main#home > div {
    grid-template-columns: 252px 1fr 300px;
  }
}
